body{
  background-color: #1a8cff !important;
}
.col-sm-4, .col-sm-8{
  background-color: aliceblue;
}
.welkom{
  border-right:solid 2px #d9d9d9;
}
.news_container{
  height: 500px;
}
.news_object{
  border-bottom: silver 1px solid;
}
